:root {
  --primary-color: rgb(24, 24, 24);
  --secondary-color: rgb(239, 239, 239);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 20px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  transition: 0.5s;
}

body.light {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

img {
  width: 300px;
  height: auto;
}

button {
  font-size: 30px;
  background-color: transparent;
  border: none;
  transition: 0.5s;
}

button:hover {
  transform: scale(0.8);
}
