body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
  display:flex;
}

#app {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#timer {
  font-size: 3rem;
  margin: 20px 0;
}

button {
  font-size: 1rem;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ff6347;
  color: white;
}

button:hover {
  background-color: #e5533d;
}
