* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  color: rgb(34, 34, 34);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  letter-spacing: 3px;
}

ul {
  list-style-type: none;
}
